/** Footer **/

footer {
    /*Makes footer go down*/ 
    bottom: 0;
    width: 48%;
    position: relative;
    left: 24%;
    display: flex;
}

.copyright-box {
    color: #7b7c7e;
    font-size: 13px;
}

.footer-links {
    margin-left: 50%;
    display: flex;
}

.footer-links ul {
    font-size: 12.5px;
    color: #7b7c7e;
    list-style: none;   
}

.footer-links li {
    padding: 5px 0; 
}

.footer-links a {
    text-decoration: none;
    color: inherit;
}

.footer-links a:hover {
    text-decoration: underline;
    color: #6c95d3;
}

.footer-links .ft-link {
    margin-left: 11%;
}

#copyright {
    text-decoration: none;
    color: inherit;
}

#copyright i {
    font-size: 25px;
    transform: translateY(4px);
}

#copyright:hover > i {
    color: #999a9c;
}