* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    --main: #ec7000;
}

/** SECTION - Header **/

.navbar {
    background-color: var(--main);
    height: 10vh;
}

.links-div {
    margin-left: 2.5vw;
}

.nav-link {
    color: white !important;
    margin-top: 0.5vh;
    font-weight: 550 !important;
    font-size: 18px !important;
}

.logo-itau {
    width: 48px;
    height: 48px;
    margin: auto;
    margin-left: 12vw;
}

.agency-account {
    max-width: 173px !important;
    max-height: 48px !important;
    padding: 10px 16px;
    border-radius: 4px;
    background-color: white;
    margin-left: 13vw;
}

#spliter {
    display: block;
    margin: auto;
    padding: 50%;
    transform: translateY(-92px);
    color: rgb(214, 214, 214);
}

.form-none {
    border: none;
    background-color: transparent;
}

#lock-button {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 8px;
    background-color: #d6d0cc;
    color: white;
    margin-left: .5vw;
}

#plus-icon {
    transform: translateY(-1.5px);
}

#nav-item-border {
    margin-left: 1vw;
}

#nav-item-border a {
    border: 1px solid white;
    padding: 5px;
    border-radius: 4px;
    height: 38px;
    margin-top: 6px;
}

#carouselExampleCaptions {
    margin-top: 10vh;
}

#carouselExampleCaptions object {
    background-image: linear-gradient(
        to left, rgba(255, 255, 255, 0.116),
        rgba(0, 0, 0, 0.73)),
        url(./Assets/banner_home_renegociacao_desktop_1920x540.avif)
    ;

    background-size: cover;
    height: 56.12vh;
    width: 100vw;
    z-index: 1;
}

.carousel-caption {
    position: relative;
    text-align: left !important;
    top: 18vh;
}

.carousel-caption h2 {
    font-size: 32px;
    font-weight: bold;
}

.carousel-caption p {
    margin-top: 1.5vh;
    font-size: 20px;
}

.carousel-caption button {
    margin-top: 4vh;

    /* Itau button style */
    padding: 8px 16px;
    background: rgba(0,0,0,.54);
    cursor: pointer;
    border: 1px solid #fff;
    height: 48px;
    width: 169px;
    color: white;
    line-height: 32px;
    border-radius: 4px;
    font-size: 20px;
}

button.carousel-control-prev {
    left: 15vw;
}

button.carousel-control {
    width: 32px;
    height: 50px;
    /* margin: auto !important; */
    top: 47.7vh;
}

button.carousel-control-next {
    left: 22.5vw;
}

#carousel-controllers > .carousel-indicators {
    right: 60vw;
    bottom: 3vh;
}
/**!SECTION **/

/** SECTION - Main **/
section.resolve {
    display: block;
    margin-top: 3.5vh;
    margin-left: 15vw;
}

section.resolve h2 {
    font-weight: bolder;
    color: rgb(29, 29, 29);
}

.resolve-cards {
    display: flex;
    flex-direction: row;
    gap: 1.3vw;
    margin-top: 3vh;
}

div.card-body {
    width: 10vw;
    height: 134px;
    color: #231d19 !important;
    cursor: pointer;
}

div.card {
    border-color: #5c5c5caf !important;
}

div.card:hover {
    border-color: var(--main) !important;
}

div.card-body:hover > .card-title {
    color: var(--main) !important;
}

.card-sub {
    font-size: 15px;
    margin-top: 16px;
    color: #231d19 !important;
}

.card-small {
    font-size: 11px;
    line-height: 2px;
    color: #56504c;
}

.break-point::before {
    content: "\a\a\a\a\a\a\a";
    white-space: pre;
}

/**!SECTION **/