*{
    margin: 0;
}
main{
    top: 12vh;
    position: absolute;
    width: 100vw;
}
section{
    width: 90%;
    margin: auto;
}
h1#table{
    text-align: center;
}
table{
    margin-top: 2vh;
    text-align: center;
}
td{
    max-width: 2px;
    border: 1px solid black;
    vertical-align: middle;
}
a.green{
    color: green;
    text-decoration: none;
}
.SearchBar{
    width: 25vw;
    margin: auto;
}
.form-control{
    width: 20vw;
    margin: auto !important;
}

.table {
    border: 1.5px solid gray !important;
}