<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pastelandia</title>

    <link rel="stylesheet" href="../../Styles/home.css">
    <link rel="stylesheet" href="../../Styles/header.css">
    <link rel="stylesheet" href="../../Styles/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navcliente">
            <img id="logo-img" src="../../Assets/pastelandia/logopng.png" width="120" height="80" title="pastelândia">

            <ul class="navlist">
                <li><a href="http://localhost:8080/Patelandia/">Home</a></li>
                <li><a href="#">Cardápio</a></li>
                <li><a href="#">Meus pedidos</a></li>
                <li><a href="#">Login</a></li>


                <li><button><a href="<?php INCLUDE_PATH ?>order">Fazer pedido</a></button></li>
            </ul>
        </nav>
    </header>

    <style>
        a#link-price {
            color: #FA1B37 !important;
        }
    </style>

    <main>
        <section class="layout">

            <img src="../../Assets/pastelandia/pastel4.jpg" title="pastelandia" id="imageminicial">

            <div class="text1">

                <h1>PASTELANDIA</h1>

                <h3>O MELHOR PASTEL DE BH</h3>

                <p>quentinho, gostoso e cheio de recheio</p>

                <button><a id="link-price" href="../../order"</a>PEÇA JÁ</button>

            </div>

        </section>

        <div class="divdiv">

            <div class="promoções">

                <h1 class="promok">Promoções</h1>

                <section class="promo1">

                    <div class="promo">

                        <img src="../../Assets/pastelandia/coxinha1.jpg">

                        <h3>10 por 20</h3>

                        <h3 class="price"><a href="../../order">R$2,00</a></h3>

                    </div>

                    <div class="promo">

                        <img src="../../Assets/pastelandia/coxinha1.jpg">

                        <h3>10 por 20</h3>

                        <h3 class="price"><a href="../../order">R$2,00</a></h3>

                    </div>

                    <div class="promo">

                        <img src="../../Assets/pastelandia/coxinha1.jpg">

                        <h3>10 por 20</h3>

                        <h3 class="price"><a href="../../order">R$2,00</a></h3>

                    </div>

                </section>

                <section class="promo1">

                    <div class="promo">

                        <img src="../../Assets/pastelandia/coxinha1.jpg">

                        <h3>10 por 20</h3>

                        <h3 class="price"><a href="../../order">R$2,00</a></h3>

                    </div>

                    <div class="promo">

                        <img src="../../Assets/pastelandia/coxinha1.jpg">

                        <h3>10 por 20</h3>

                        <h3 class="price"><a href="../../order">R$2,00</a></h3>

                    </div>

                    <div class="promo">

                        <img src="../../Assets/pastelandia/coxinha1.jpg">

                        <h3>10 por 20</h3>

                        <h3 class="price"><a href="../../order">R$2,00</a></h3>

                    </div>

                </section>

            </div>

        </div>

    </main>
</body>

</html>