<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pastelandia</title>

    <link rel="stylesheet" href="../../Styles/meuspedidos.css">
    <link rel="stylesheet" href="../../Styles/header.css">
    <link rel="stylesheet" href="../../Styles/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navcliente">
            <img id="logo-img" src="../../Assets/pastelandia/logopng.png" width="120" height="80" title="pastelândia">

            <ul class="navlist">
                <li><a href="http://localhost:8080/Patelandia/">Home</a></li>
                <li><a href="#">Cardápio</a></li>
                <li><a href="#">Meus pedidos</a></li>
                <li><a href="#">Login</a></li>


                <li><button><a href="#">Fazer pedido</a></button></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1>Meus Pedidos</h1>
            <h2>Lucas</h2>

            <div id="box">
                <div class="Pedidos mb-2">
                    <span class="PedidosTitle">Cocacola 27 Litros</span> <br>
                    <span>R$ 50,00</span><br>
                    <span>Pedido Saiu Para a Entrega</span><br>
                    <span>Casa do Karalho, número 69, bairro quinto dos infernos. 35089029.</span> <br>
                    <span class="PedidosTitle">Descrição:</span> <br>

                    <p>Grita no portão pq a minha morena, além de linda, é surda</p>
                </div>

                <div class="Pedidos mb-2">
                    <span class="PedidosTitle">Cocacola 27 Litros</span> <br>
                    <span>R$ 50,00</span><br>
                    <span>Pedido Saiu Para a Entrega</span><br>
                    <span>Casa do Karalho, número 69, bairro quinto dos infernos. 35089029.</span> <br>
                    <span class="PedidosTitle">Descrição:</span> <br>

                    <p>Grita no portão pq a minha morena, além de linda, é surda</p>
                </div>

                <div class="Pedidos mb-2">
                    <span class="PedidosTitle">Cocacola 27 Litros</span> <br>
                    <span>R$ 50,00</span><br>
                    <span>Pedido Saiu Para a Entrega</span><br>
                    <span>Casa do Karalho, número 69, bairro quinto dos infernos. 35089029.</span> <br>
                    <span class="PedidosTitle">Descrição:</span> <br>

                    <p>Grita no portão pq a minha morena, além de linda, é surda</p>
                </div>

                <div class="Pedidos mb-2">
                    <span class="PedidosTitle">Cocacola 27 Litros</span> <br>
                    <span>R$ 50,00</span><br>
                    <span>Pedido Saiu Para a Entrega</span><br>
                    <span>Casa do Karalho, número 69, bairro quinto dos infernos. 35089029.</span> <br>
                    <span class="PedidosTitle">Descrição:</span> <br>

                    <p>Grita no portão pq a minha morena, além de linda, é surda</p>
                </div>

                <div class="Pedidos mb-2">
                    <span class="PedidosTitle">Cocacola 27 Litros</span> <br>
                    <span>R$ 50,00</span><br>
                    <span>Pedido Saiu Para a Entrega</span><br>
                    <span>Casa do Karalho, número 69, bairro quinto dos infernos. 35089029.</span> <br>
                    <span class="PedidosTitle">Descrição:</span> <br>

                    <p>Grita no portão pq a minha morena, além de linda, é surda</p>
                </div>

                <div class="Pedidos mb-2">
                    <span class="PedidosTitle">Cocacola 27 Litros</span> <br>
                    <span>R$ 50,00</span><br>
                    <span>Pedido Saiu Para a Entrega</span><br>
                    <span>Casa do Karalho, número 69, bairro quinto dos infernos. 35089029.</span> <br>
                    <span class="PedidosTitle">Descrição:</span> <br>

                    <p>Grita no portão pq a minha morena, além de linda, é surda</p>
                </div>

                <div class="Pedidos mb-2">
                    <span class="PedidosTitle">Cocacola 27 Litros</span> <br>
                    <span>R$ 50,00</span><br>
                    <span>Pedido Saiu Para a Entrega</span><br>
                    <span>Casa do Karalho, número 69, bairro quinto dos infernos. 35089029.</span> <br>
                    <span class="PedidosTitle">Descrição:</span> <br>

                    <p>Grita no portão pq a minha morena, além de linda, é surda</p>
                </div>

                <div class="Pedidos mb-2">
                    <span class="PedidosTitle">Cocacola 27 Litros</span> <br>
                    <span>R$ 50,00</span><br>
                    <span>Pedido Saiu Para a Entrega</span><br>
                    <span>Casa do Karalho, número 69, bairro quinto dos infernos. 35089029.</span> <br>
                    <span class="PedidosTitle">Descrição:</span> <br>

                    <p>Grita no portão pq a minha morena, além de linda, é surda</p>
                </div>

                <div class="Pedidos mb-2">
                    <span class="PedidosTitle">Cocacola 27 Litros</span> <br>
                    <span>R$ 50,00</span><br>
                    <span>Pedido Saiu Para a Entrega</span><br>
                    <span>Casa do Karalho, número 69, bairro quinto dos infernos. 35089029.</span> <br>
                    <span class="PedidosTitle">Descrição:</span> <br>

                    <p>Grita no portão pq a minha morena, além de linda, é surda</p>
                </div>
            </div>
        </section>
    </main>