<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pastelandia</title>
    <link rel="stylesheet" href="../../Styles/header.css">
    <!-- <link rel="stylesheet" href="<?php echo INCLUDE_PATH?>Styles/footer.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../Styles/stock.css">
</head>

<body>
    <header>
        <nav class="navcliente">
            <img id="logo-img" src="../../Assets/pastelandia/logopng.png" width="120" height="80" title="pastelândia">

            <ul class="navlist">
                <li><a href="home.html">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="cardapio.html">Cardápio</a></li>
                <li><a href="./meuspedidos.html">Meus pedidos</a></li>
                <li><button><a href="./pedir.html">Fazer pedido</a></button></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1 id="table">Estoque</h1>
            <table class="table">
                <thead class="table-dark">
                    <tr> <!--table Head-->
                        <td>Produto</td>
                        <td>Preço</td>
                        <td>Qtd. em Estoque</td>
                        <td>Categoria</td>
                        <td>Editar</td>
                        <td>Excluir</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-success"> <!--Pastel de Flango-->
                        <td>Pastel de Flango</td>
                        <td>R$ 55552.00</td>
                        <td>55</td>
                        <td>Salgados</td>
                        <td><button type="button" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                                    height="18" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path
                                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                </svg></button></td>
                        <td><button type="button" class="btn btn-danger">X</button></td>
                    </tr>
                    <tr class="table-warning"> <!--Camisinha-->
                        <td>Camisinha Sabor Uva</td>
                        <td>R$ 2.00</td>
                        <td>10</td>
                        <td>Outros</td>
                        <td><button type="button" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                                    height="18" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path
                                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                </svg></button></td>
                        <td><button type="button" class="btn btn-danger">X</button></td>
                    </tr>
                    <tr class="table-danger"> <!--50 Pasteis + Coca 7 litros-->
                        <td>50 Pasteis + Coca 7 Litros</td>
                        <td>R$ 222.00</td>
                        <td>2</td>
                        <td>Combo</td>
                        <td><button type="button" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                                    height="18" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path
                                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                </svg></button></td>
                        <td><button type="button" class="btn btn-danger">X</button></td>
                    </tr>
                    <tr class="table-primary"> <!--Coca 27 litros-->
                        <td>Coca 27 Litros</td>
                        <td>R$ 50.00</td>
                        <td>0</td>
                        <td>Bebida</td>
                        <td><button type="button" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                                    height="18" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path
                                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                </svg></button></td>
                        <td><button type="button" class="btn btn-danger">X</button></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>

</html>