/**
 * BG: #090c12
 * FG: #f1f1f1
 * Maybe Text: #b5aca0
 * Blue: #1F6FEB
*/

body {
    background-color: #010409;
    color: #F0F6FC;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/** Navbar **/

header {
    padding: 0;
    margin: 0;
    background-color: #161B22;
    overflow: hidden;
}

nav * {
    display: inline;
}

#github-logo {
    float: left;
    padding-left: 15px;
    padding-top: 2px;
}

.nav-searchbar {
    float: left;
    padding: 18px 15px;
    width: 270px;
    height: 1px;
    top: 0;
    border: #2b2c2e solid 1.5px;
    background-color: #0d1117;
}

.navbar-item {
    float: left;
    padding: 18px 15px;
    text-align: center;
    text-decoration: none;
    color: #f1f1f1;
    font-size: 15px;
}

.navbar-item:hover {
    color: rgb(184, 184, 192)
}

.navbar-item-r {
    float: right;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 17px;
    padding: 18px 10px;
}

/** Sidebar **/

section.repositories {
    height: 100%;
    width: 21%;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #0D1117;
    overflow-x: hidden;
    padding-top: auto;
    border-right: #2b2c2e solid 1.5px;
}

div.sidebox {
    padding: 20px 0px;
    width: 100%;
    margin: 0 8%;
}

.top-repositories > h3, button {
    display: inline;
    margin: 20px 0 10px 0;
}

.top-repositories >  h3 {
    padding-right: 85px;
}

button#new-repo {
    border-radius: 6px;
    background-color: #1F6FEB;
    color: white;
    padding: 7px;
    border: none;
}

.top-repositories h3 {  
    font-size: 13px;
}

.side-center {
    margin: 0 0 0 50px;
}

/** Main **/

main, footer {
    position: absolute;
    left: 25%;
}

footer {
    /*Makes footer go down*/ 
    bottom: 0;
    width: 100%;
}
